* {
  box-sizing: border-box;
}

body * , html *, html {
  scrollbar-width: thin;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 8px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #c3c3c3;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #888888;
// }

body {
  font-family: "Euclid Circular A"; 
  font-size: 12px;
  line-height: 24px;
  height: 100vh;
  color: #000;
  background-color: transparent;
  font-weight: normal;
  display:flex; 
  flex-direction:column; 

  &.modal-active {
    overflow: hidden !important;
  }
}



h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, a:hover, a:focus {
  outline: none;
}


img {
  width: 100%;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  outline: none !important;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

