.table-responsive {
    margin-bottom: 0;
    padding-bottom: 20px;
    position: relative;
    padding-top: 24px;
    overflow: scroll;
  
    thead {
      background: #F5F7FF;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
  
      tr {
        th {
          &:first-child {
            border-radius: 4px 0 0 4px;
          }
  
          &:last-child {
            border-radius: 0 4px 4px 0;
          }
  
          font-size: 13px;
          line-height: 16px;
          color: #1C1E33;
          font-weight: 500;
        }
      }
    }
  
    tbody {
      tr {
        // text-align: left;
        cursor: pointer;
        border-bottom: 1px solid #8F9BB3;
  
        td {
          vertical-align: middle;
          position: relative;
          padding-top: 28px;
          padding-bottom: 28px;
  
          span {
            font-size: 14px;
            line-height: 20px;
          }
  
          strong {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  
    // .actions {
    //   &.active {
    //     .show-actions {
    //       i {
    //         color: $dark-4;
    //       }
    //     }
    //   }
  
    //   .show-actions {
    //     &:hover {
    //       i {
    //         color: $dark-5;
    //       }
    //     }
  
    //     i {
    //       color: $dark-3;
    //     }
    //   }
    // }
  
  
    .table-actions {
      top: 20px;
      right: 0;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #fff;
      box-shadow: 0px 8px 24px rgba(41, 45, 50, 0.08);
      border-radius: 8px;
      padding: 22px 22px 22px 20px;
      width: max-content;
  
      button {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        color: #1C1E33;
        font-weight: 500;
  
        &:not(:last-child) {
          margin-bottom: 20px;
        }
  
        &:hover {
          color: #1C1E33;
        }
  
        i {
          margin-right: 16px;
        }
      }
    }
  }
  
  .data-table {
    padding: 16px 0;
    min-height: 100vh;
    max-height: 100%;
  
    .data-table_row {
      background: #fff;
      border: 1px solid #fff;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 24px 62px 24px 24px;
  
      &:not(:first-child),
      &:not(:last-child) {
        margin-bottom: 8px;
      }
  
      .col {
        display: flex;
        flex-direction: column;
  
        span {
          font-size: 12px;
          line-height: 16px;
          color: #1C1E33;
        }
  
        strong {
          font-size: 12px;
          line-height: 16px;
          color: #1C1E33;
          font-weight: 500;
        }
      }
  
      .badge {
        margin-top: 4px;
        line-height: 28px;
      }
    }
  }